html {
  box-sizing: border-box;
  font-size: 100%;
  @import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');
}

body {
  background-color: #f4f2f2;
  text-align: center;
  margin: 0 auto;
  font-family: 'Noto Serif', serif;
}

.logo {
  width: 100px;
  margin-top: 40px;
}

h2 {
  margin: 30px auto;
  font-size: 2em;
  font-weight: 400;
  color: #292a2c;
}

ul {
  list-style: none;
  padding: 0;
}

li {

}

a {
  display: block;
  text-decoration: none;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  color: #292a2c;
  font-size: 1.1em;
  border: 2px solid #292a2c;
  padding: 20px 20px;
  margin: 25px auto;
  max-width: 500px;
  width: 80%;
  box-shadow: 
  transition: 0.5s ease-out,
            
}

a:hover { 
  background-color: #292a2c;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid #292a2c;
}